// blog 
.blog-landing {
    .blog-image {
        text-align: center;
    }
}

.blog {

    article {
        padding: 80px 0;

        &:first-child {
            padding: 40px 0 80px;
        }
    }

    h1 {
        font-size: 50px;
        line-height: 55px;
        padding-bottom: 30px;
    }

    pre {
        margin-top: @base-line-height;
    }

    .big-background {
        background-color: @black !important;
        color: @white;

        .date {
            color: @white;
        }

        img {
            opacity: .7;
            background: @black;
        }
    }

    a.read-more {
        margin-top: 20px;
    }


}

.page {
    article {
        padding: 60px 0;

        h2{
            margin-bottom: 20px;
            font-size: 42px;
            line-height: 1.1em;
            .lato-regular;
            text-align: left;
        }

        h3{
            margin-bottom: 20px;
            font-size: 32px;
            line-height: 1.1em;            
        }          

        ul li, p{
            color: @paragraph;
            font-size: 14px;
            line-height: 1.6em;
            letter-spacing: 0;
            margin-bottom: 24px;
        }     
    }
}

.inner-page {
    .inner-page-header {
        background-color: @blue;
        color: @white;

        h1 {
            padding: 64px 0 54px 15px;
            font-size: 52px;
            line-height: 1.1em;
            .lato-light;
            text-align: left;
        }
    } //inner page header

}

.pagination {
    height: 80px;
    background-color: @gray-background;
    .lato-regular;
    color: @medium-gray-text;
    .reset;

    .pagination-left,
    .pagination-right {
        text-transform: uppercase;
        padding: 28px 0;
        margin: 0 20px;
    }
    .pagination-left {
    }

    .pagination-right {

    }
}

// article styles
article {
    &.blog-post, &.support {
        padding: 0px;
        padding-bottom: 60px;

        .blog-image {
            text-align: center;
        }

        h1 {
            font-size: 50px;
            margin-bottom: @baseline;
            line-height: 55px;
        }

        img {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        img.shadow {
            box-shadow: 1px 1px 7px #888;
        }

        pre {
            margin: (@baseline * 2) 0;
        }

        p {
            img {
                padding: 30px;
            } // img
        } // p

        h2, h3 {
            letter-spacing: 1px;
            margin: @baseline 0;
        }

        ol {

        }

        .vimeo {
            width: 630px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }

    &.right-aligned {
        border-bottom: 2px solid @off-white;
    }

    &.support{
        .content{
            padding-top: 50px;
        }
    }

}


// color groups
.gray {
    background-color: @gray-background;
}

.blue {
    background-color: @blue-background;
}

.page-title{
    background-color: @gray-background;

    h1{
        color: @blue;
        font-size: 36px;
        line-height: 36px;
        margin: 50px 0;
    }
}

.sidebar{
    position: relative;
    padding-top: 50px;

    .bg-image{
        position: absolute;
        top: 0;
        right: 0;
        width: 640px;
        height: 371px;
        background: #fff url(/images/sidebar-grid.jpg) 99% center no-repeat;
    }

    .sidebar-nav{
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;

        a{
            color: @black;
        }

        :last-child{
            border-bottom: none;
        }

        //all li > a
        li{
            position: relative;
            > a{

                &:hover{
                     border-right: 4px solid @green;
                }
            }

            > a:hover,
            > a:focus {
                background-color: transparent !important;
            }
        }


        > li {
            color: @green;
            padding: 10px 0;
            border-bottom: 1px solid #fff;

            &.active {
                > a{
                    border-right: 4px solid @green;
                }

                > a:hover,
                > a:focus {
                    //color: @black;
                }

                .nav {
                    display: block;

                    li.active a {
                        border-right: 4px solid @green;
                    }
                }
            }

            > a {
                color: @green;
                padding-right: 40px;
                font-size: 18px;
                line-height: 22px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        .nav {
            //display: none;
            margin: 8px 0;

            > li{
                margin-left: 12px;

                > a{
                    margin: 8px 0;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }

}