//buttons
//buttons

.hbtn{
  line-height: 30px;

  &.large{
    padding: 8px 30px;
    font-size: 18px;

    //compensate to make buttons equal height
    &.outline-btn{
      line-height: 24px;
    }
  }

  &.small{
    padding: 2px 12px;
    font-size: 12px;

    &.outline-btn{
      line-height: 24px; 
    }
  }

  &::hover{
    .hcaret{
      -webkit-transition: -webkit-transform 1s linear;
      -webkit-transform: translateX(1%);
    }
  }
}

.outline-btn{
  display: inline-block;
  background-color: transparent;
  color: @white;
  border: 3px solid @white;
  text-decoration: none !important;
  text-transform: uppercase;
  .lato-bold();
  letter-spacing: 1px;
  .btn-black-boxshadow();
  .transition(all .3s ease-in-out);

  &.black{
    color: @black;
    border: 3px solid @black;
    .transition(all .3s ease-in-out);
  }

  &:hover{
    color: @white;
    background-color: rgba(255, 255, 255, .15);
    .btn-black-boxshadow-hover;
    .transition(all .3s ease-in-out);

    &.black{
      color: @black;
      background-color: rgba(0, 0, 25, 0.1);
    }
  }   
}

a.fill-btn{
  //default white style
  display: inline-block;
  color: @black;
  background-color: white;
  font-size: 12px;
  .lato-bold();
  text-transform: uppercase;
  letter-spacing: 0.03em;
  .btn-black-boxshadow();
  .transition(all .3s ease-in-out);

  &:hover{
    color: @black;
    .transition(all .3s ease-in-out);
    .btn-black-boxshadow-hover();
  }

  //blue
  &.blue{
    .fill-btn-blue()
  }
}

.fill-btn-blue(){
  color: @white;
  background-color: @blue !important;
  .btn-blue-boxshadow();
  .transition(all .3s ease-in-out);
    &:hover{
      .btn-blue-boxshadow-hover();
      .transition(all .3s ease-in-out);
    }  
}

.light-caret-right(){
  background: url(/images/light-caret-right.png) 0 0 no-repeat;
  .img-retina("/images/light-caret-right.png", "/images/light-caret-right@2x.png", 10px, 15px); 

  &.small{
    width: 6px;
    height: 9px;
    margin-left: 6px;
    background-size: 6px 9px;
  }
}

.black-caret-right(){
  background: url(/images/black-caret-right.png) 0 0 no-repeat;
  .img-retina("/images/black-caret-right.png", "/images/black-caret-right@2x.png", 10px, 15px);
  
  &.small{
    width: 6px;
    height: 9px;
    margin-left: 6px;
    background-size: 6px 9px;
  }   
}

.light-caret-right{
  display: inline-block;
  width: 10px;
  height: 15px;
  margin-left: 8px;
  .light-caret-right();
}

.black-caret-right{
  display: inline-block;
  width: 10px;
  height: 15px;
  margin-left: 9px;
  .black-caret-right();
}

.btn-blue-blog-boxshadow(){
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0,140,232,0.2);
  -moz-box-shadow: 2px 2px 0px 1px rgba(0,140,232,0.2);
  box-shadow: 2px 2px 0px 1px rgba(0,140,232,0.2);
}

.btn-black-boxshadow(){
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.1);
}

.btn-black-boxshadow-hover(){
  -webkit-box-shadow: 4px 6px 0px 1px rgba(0,0,0,0.08);
  -moz-box-shadow: 4px 6px 0px 1px rgba(0,0,0,0.08);
  box-shadow: 4px 6px 0px 1px rgba(0,0,0,0.08);
}


.btn-blue-boxshadow(){
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0,140,232,0.2);
  -moz-box-shadow: 2px 2px 0px 1px rgba(0,140,232,0.2);
  box-shadow: 2px 2px 0px 1px rgba(0,140,232,0.2);
}

.btn-blue-boxshadow-hover(){
  -webkit-box-shadow: 4px 6px 0px 1px rgba(0,140,232,0.15);
  -moz-box-shadow: 4px 6px 0px 1px rgba(0,140,232,0.15);
  box-shadow: 4px 6px 0px 1px rgba(0,140,232,0.15);
}

.btn-blue-blog-boxshadow(){
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0,140,232,0.08);
  -moz-box-shadow: 2px 2px 0px 1px rgba(0,140,232,0.08);
  box-shadow: 2px 2px 0px 1px rgba(0,140,232,0.08);
}

.btn-blue-blog-boxshadow-hover(){
  -webkit-box-shadow: 3px 4px 0px 1px rgba(0,140,232,0.15);
  -moz-box-shadow: 3px 4px 0px 1px rgba(0,140,232,0.15);
  box-shadow: 3px 4px 0px 1px rgba(0,140,232,0.15);
}

