// products landing styles
article.product-item {
	height: 380px;
	padding-top: 120px;
	background-color: white;

	&.gray{
		background-color: @gray-background;
	}

	&.vagrant{
		h1{
			color: @vagrant-blue;
		}
	}

	&.packer{
		h1{
			color: @packer-green;
		}
	}	

	&.serf{
		h1{
			color: @serf-red;
		}
	}		
}