// slider

@keyframes scale_slide {
    0% {
        //opacity: 0;
        transform: scale(1.2);
    }

    to {
        //opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes scale_slide {
    0% {
        //opacity: 0;
        -webkit-transform: scale(1.2);
    }

    to {
        //opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes scale_slide {
    0% {
        //opacity: 0;
        -moz-transform: scale(1.2);
    }

    to {
        //opacity: 1;
        -moz-transform: scale(1);
    }
}

.slider-mask{
	overflow: hidden;
	height: @hero-height;

	#slider {
		display: none;
		position: relative;

		&.hero{
			h1{
				font-size: 62px;
				margin-top: 6px;
				letter-spacing: 12px;
				line-height: 70px;
			}
		}

		.hero-btn{

			&.green{
				.button{
					background-color: #43d193;
				  	.animate-background-color;

					&:hover{
						background-color: #38B47E;
					  	.animate-background-color;
					}
				}
			}

			.button{
				display: inline-block;
				position: relative;
				width: auto;
				font-size: 13px;
				font-weight: 700;
				text-transform: uppercase;
				border-radius: 0px;
				background-color: #202020;
				margin: 0;
				padding: 0px 26px 0px 12px;
				.animate-background-color;

				&:hover{
					background-color: #43d193;
					.animate-background-color;

					.button-arrow{
						right: 11px;
					  	transition: right .2s ease-in-out;
					    -moz-transition: right .2s ease-in-out;
					    -webkit-transition: right .2s ease-in-out;
					    -o-transition: right .2s ease-in-out;
					}
				}

				.button-arrow{
					width: 6px;
					height: 11px;
					position: absolute;
					top: 9px;
					right: 14px;
					display: inline-block;
					background: url(/images/arrow-right.png) no-repeat 0 0;
					background-size: 6px 11px;
				  	transition: right .2s ease-in-out;
				    -moz-transition: right .2s ease-in-out;
				    -webkit-transition: right .2s ease-in-out;
				    -o-transition: right .2s ease-in-out;
				}
			}
		}


		.slide{
			height: @hero-height;
		    -webkit-transition: all 0.2s linear;
		    -moz-transition: all 0.2s linear;
		    -ms-transition: all 0.2s linear;
		    -o-transition: all 0.2s linear;
		    transition: all 0.2s linear;
		    -webkit-animation: scale_slide 0.3s ease-out 1;
		    -moz-animation: scale_slide 0.3s ease-out 1;
		    -ms-animation: scale_slide 0.3s ease-out 1;
		    -o-animation: scale_slide 0.3s ease-out 1;
		    animation: scale_slide 0.3s ease-out 1;

    		&.hashicorp{
    			background-image: url(/images/home-hero/hashicorp.jpg);
    			//background-repeat: no-repeat;
    			background-position: center center;

	    		h1{
	    			/*span{
	    				background-color: #48b4fb;

						&:after {
						  background: linear-gradient(to right top, #48b4fb 50%, transparent 50%) !important;
						}
	    			}*/

	    		}
    		}

    		&.vagrant{
    			background: url(/images/home-hero/vagrant.jpg) no-repeat center bottom;
	    		h1{
	    			/*span{
	    				background-color: #48b4fb;

						&:after {
						  background: linear-gradient(to right top, #48b4fb 50%, transparent 50%) !important;
						}
	    			}*/

	    		}
    		}

    		&.packer{
    			background: url(/images/home-hero/packer.jpg) no-repeat center bottom;
    			background-color: #e7f7f5;
	    		h1{
	    			span{
	    				background-color: #43d193 !important;

						&:after {
						  background: linear-gradient(to right top, #3dbf86 50%, transparent 50%) !important;
						}
	    			}

	    		}
    		}

    		&.serf{
    			background: url(/images/home-hero/serf.jpg) no-repeat center bottom;
	    		h1{
	    			span{
	    				background-color: #dd4e58 !important;

						&:after {
						  background: linear-gradient(to right top, #c0444c 50%, transparent 50%) !important;
						}
	    			}

	    		}
    		}

    		.hero-content{
    			position: absolute;
    			bottom: 24px;
    			right: 32px;
    			width: 500px;
    			text-align: right;

	    		h1{
		    		margin-bottom: 0px;
		    		margin-right: 8px;
		    		line-height: 0;
	    			span{
	    				position: relative;
	    				display: inline-block;
	    				font-size: 28px;
	    				line-height: 36px;
	    				letter-spacing: 6px;
	    				text-transform: uppercase;
	    				text-align: center;
	    				background-color: #48b4fb;
	    				color: #fff;
	    				padding: 4px 10px 4px 24px;

						&:after {
						  content: "";
						  position: absolute;
						  top: 0;
						  right: -8px;
						  width: 8px;
						  height: 100%;
						  background: linear-gradient(to right top, #12A1FF 50%, transparent 50%);
						}
	    			}
	    		}
	    		h2{
		    		margin-bottom: 8px;
		    		p{
		    			display: block;
		    			height: 28px;
		    			font-size: 13px;
		    			line-height: 24px;
		    			height: auto;
		    			margin-bottom: 0px;
						text-align: right;
		    		}
	    			span{
		    			margin-bottom: 0px;
	    				display: inline-block;
		    			font-weight: 500;
		    			color: #202020;
		    			background-color: #fff;
		    			text-align: right;
		    			padding: 0px 12px;
	    			}
	    		}

    		}
		}

		.slidesjs-navigation{
			display: none;
			position: absolute;
			top: 50%;
			margin-top: -40px;
			width: 58px;
			height: 80px;
			z-index: 2000;
			background-color: rgba(0, 0, 0, .2);
			background-image: url(/images/slider-arrows.png);
			background-repeat: no-repeat;
			text-indent: -9999px;
			white-space: nowrap;
			.animate-background-color;

			&.slidesjs-previous{
				left: 12px;
				background-position: -58px 0;
			}

			&.slidesjs-next{
				right: 12px;
			}

			&:hover{
				background-color: rgba(0, 0, 0, .8);
				.animate-background-color;
			}
		}

		.slidesjs-pagination{
			position: absolute;
			left: 24px;
			bottom: 4px;
			z-index: 2000;
			margin-bottom: 0;
			//margin-left: -54px;

			.slidesjs-pagination-item{
				display: inline-block;
				margin-bottom: 0;

				a{
					display:inline-block;
					margin-left: 12px;
					width: 12px;
					height: 12px;
					background-color: rgba(0, 0, 0, .2);
					@include border-radius(6px);
					text-indent: -9999px;
					.animate-background-color;

					&.active{
						background-color: rgba(0, 0, 0, .8);
					}

					&:hover{
						background-color: rgba(0, 0, 0, .8);
						.animate-background-color;
					}
				}
			}
		}
	}
}

