			<!-- footer -->
			<footer>
			<div class="container">
				<div class="row">

					<div class="col-md-3 col-sm-4 col-xs-12">
						<h2>
							<a class="navbar-brand blue logo" href="/">HashiCorp</a>
						</h2>
						<ul>
							<li><a href="/">About Us</a></li>
							<li><a href="/">Jobs</a></li>
							<li><a href="/">Blog</a></li>
							<li><a href="/">Contact</a></li>
							<li><a href="/">On Twitter<i class="twitter"></i></a></li>
						</ul>
					</div> <!-- col -->

					<div class="col-md-3 col-sm-4 col-xs-12">
						<h2>Product Sites</h2>
						<ul>
							<li><a href="/">Vagrant</a></li>
							<li><a href="/">Terraform</a></li>
							<li><a href="/">Consul</a></li>
							<li><a href="/">Serf</a></li>
							<li><a href="/">Packer</a></li>
						</ul>
					</div> <!-- col -->

					<div class="col-md-3 col-sm-4 col-xs-12">
						<h2>Cloud</h2>
						<ul>
							<li><a href="/">Cloud One</a></li>
							<li><a href="/">Cloud Two</a></li>
							<li><a href="/">Cloud Three</a></li>
							<li><a href="/">Cloud Four</a></li>
						</ul>
					</div> <!-- col -->

					<div class="col-md-3 col-sm-6 col-xs-9">
						<div id="subscribe">
						  <form id="subscribe-form" method="post" action"#">
						    <div class="input-group">
						      <input name="capturedEmail" id="capturedEmail" type="text" class="form-control" placeholder="Enter Your Email" />
					        <span class="input-group-btn">
					          <button id="submit-capture" type="button" class="btn btn-default">Submit</button>
					        </span>
						  	</div>
						  </form><!-- subscribe-form -->
							<p>Stay up to date with Hashicorp news by subscribing to our newsletter!</p>						  
						</div><!-- subscribe -->
					</div> <!-- col -->		

				</div> <!-- row -->

				<div class="row">
					<div class="col-xs-12">
						<h6 class="legal">
							&#169; 2014 HashiCorp
						</h6>
					</div>
				</div> <!-- row -->	

			</div> <!-- container -->
			</footer>