---
title: About
---

<section class="page inner-page">

<!-- page title -->
<div id="subheader" class="inner-page-header">
  <div class="container">
    <div class="row">
      <h1 class="headline">About Us</h1>
    </div>
  </div>
</div>

<!-- page contents -->
<article class="history">
<div class="container">
	<div class="row">
    <div class="col-xs-12">
      <h2>Hashicorp’s History</h2>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum, id hendrerit felis tincidunt. Proin mollis lacus in tellus vulputate, non facilisis metus interdum. Suspendisse vitae risus malesuada lectus dignissim semper id in mauris. In interdum sollicitudin arcu at interdum. Nulla nisi libero, lacinia quis bibendum in, imperdiet ac nulla.</p>
      <p>Sed elit libero, lobortis eget scelerisque et, cursus at nunc. Nunc varius tincidunt velit id euismod. Praesent efficitur risus ut facilisis tincidunt. Nullam ut est tincidunt, aliquet turpis sed, vulputate erat. Ut nec enim lacinia, vehicula augue in, finibus nibh. Sed finibus dui et leo iaculis ultrices. Donec vel orci sapien. In mattis tempor elit, in viverra mi molestie aliquam. Ut venenatis eros ac tempus molestie. Ut nisi lectus, feugiat et porttitor id, semper non erat.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum, id hendrerit felis tincidunt. Proin mollis lacus in tellus vulputate, non facilisis metus interdum. Suspendisse vitae risus malesuada lectus dignissim semper id in mauris. In interdum sollicitudin arcu at interdum. Nulla nisi libero, lacinia quis bibendum in, imperdiet ac nulla.</p>
		</div>
	</div> <!-- row -->
</div> <!-- container -->
</article> <!-- about -->

<article id="timeline">
  <div class="container">
    <div class="row">
      <h2>Our Timeline</h2>
    </div>
  </div>

  <div id="points-wrap" class="scroll-pane horizontal-only">
    <div id="points">
      <div class="point">
        <div class="info">
          <span>2009</span>
          <h3>Vagrant</h3>
          <p>Mitchell Hashimoto launches Vagrant 0.1.</p>
        </div>
        <div class="body">
          <i class="vagrant"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info below">
          <span>2013</span>
          <h3>HashiCorp</h3>
          <p>Mitchell announces HashiCorp, a software company supporting Vagrant and other tools.</p>
        </div>
        <div class="body">
          <i class="hashicorp"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info">
          <span>2013</span>
          <h3>Packer</h3>
          <p>Packer, the tool for creating machine images, launches.</p>
        </div>
        <div class="body">
          <i class="packer"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info">
          <span>2013</span>
          <h3>Armon Dadgar</h3>
          <p>Armon, with a passion for distributed systems, joins Mitchell as a founder.</p>
        </div>
        <div class="body">
          <i class="packer"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info below">
          <span>2013</span>
          <h3>Serf</h3>
          <p>Serf, a lightweight solution for managing decentralized cluster membership, is launched.</p>
        </div>
        <div class="body">
          <i class="serf"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info below">
          <span>2014</span>
          <h3>Vagrant Cloud</h3>
          <p>Jack Pearkes, HashiCorp's first employee, joins and helps launch Vagrant Cloud, used for hosting and sharing Vagrant boxes.</p>
        </div>
        <div class="body">
          <i class="vagrant-cloud"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info below">
          <span>2014</span>
          <h3>Consul</h3>
          <p>Consul, a solution for service discovery and configuration, launches a 0.1. Consul is built on top of Serf.</p>
        </div>
        <div class="body">
          <i class="consul"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info below">
          <span>2014</span>
          <h3>Terraform</h3>
          <p>Terraform is announced. Terraform builds and changes infrastracture, allowing you to manage the lifecycle of resources
            and combine hybrid infrastructures safely and efficiently.</p>
        </div>
        <div class="body">
          <i class="terraform"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
    </div> <!-- points -->
  </div><!-- points-wrap -->
</article><!-- timeline -->

<article class="quotes offbg">
  <div class="container">
    <div class="quotes row">
      <div class="col-md-4 col-md-offset-4 col-sm-12">
        <div class="quote temp-big">
          <i></i>
          <p>Learn more about HashiCorp and our products on <a href="/blog.html">our blog</a>.</p>
        </div>
      </div>
    </div><!-- quotes row -->
  </div><!-- container -->
</article><!-- press -->

<article class="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Founders</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
        <img src="images/people/mh@2x.jpg" width="370px" height="340px">
        <h4>Mitchell Hashimoto</h4>
        <p>Automation Obsessed, Vagrant Creator, Author, DevOps community figure, Engineer for 4 Years at CitrusByte, Operations for 2 years at Kiip, research at University of Washington.</p>
        <a href="https://www.twitter.com/mitchellh" class="twitter-about"><i></i></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
        <img src="images/people/ad@2x.jpg" width="370px" height="340px">
        <h4>Armon Dadgar</h4>
        <p>Passion for distributed systems, research at University of Washington, Big Data at Amazon. High-scale data services at Kiip.</p>
        <a href="https://www.twitter.com/armon" class="twitter-about"><i></i></a>
      </div>
      <div class="hiring col-md-4 hidden-sm hidden-xs">
        <h2>Join us.</h2>
        <a href="/jobs" class="hbtn outline-btn large">View Jobs<span class="light-caret-right large"></span></a>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</article><!-- team -->

<article class="press">
  <div class="container">
    <div class="kit row">
      <div class="col-xs-12">
        <a href="/jobs" class="hbtn outline-btn black large">Press Kit Download<span class="black-caret-right"></span></a>
      </div> <!-- col -->
    </div> <!-- kit row -->
  </div><!-- container -->
</article>


</section> <!-- page inner-page -->
