---
title: About
---

<section class="page inner-page">
	<!-- page title -->

	<div class="inner-page-header" id="subheader">
		<div class="container">
			<div class="row">
				<h1 class="headline">About Us</h1>
			</div>
		</div>
	</div><!-- page contents -->

	<article class="history">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>HashiCorp’s Vision</h2>
				</div>

				<div class="col-md-6 col-sm-12">
					<p>
						HashiCorp was founded by Mitchell Hashimoto and Armon
						Dadgar in 2012 with the goal of revolutionizing datacenter
						management: application development, delivery, and maintenance.
					</p>
					<p>
					The datacenter of today is very different than the datacenter
					of yesterday, and we think the datacenter of tomorrow is just
					around the corner. We're writing software to take you all the way
					from yesterday to today, and then safely to tomorrow and beyond.
					<p>
						Physical, virtual, containers. Private cloud, public cloud,
						hybrid cloud. IaaS, PaaS, SaaS. Windows, Linux, Mac.
						These are just some of the choices faced when architecting
						a datacenter of today. And the choice is not one or the other;
						instead, it is often a combination of many of these.
					</p>
				</div>

				<div class="col-md-6 col-sm-12">
					<p>
					HashiCorp builds tools to ease these decisions by presenting
					solutions that span the gaps. Our tools manage both physical
					machines and virtual machines, Windows, and Linux, SaaS and IaaS,
					etc. And we're committed to supporting next-generation
					technologies, as well.
					</p>
					<p>
					HashiCorp was founded and continues to be run by the primary
					authors of all our core technologies powering thousands of
					companies worldwide. We speak at conferences and write books
					related to application and infrastructure management.
					</p>
					<p>
					All our foundational technologies are
					<a href="https://github.com/hashicorp">open source and developed openly</a>,
					and have been since 2010.
					</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- about -->

	<article id="timeline">
		<div class="container">
			<div class="row">
				<h2>Our Timeline</h2>
			</div>
		</div>

		<div class="scroll-pane horizontal-only" id="points-wrap">
			<div id="points">
				<div class="point">
					<div class="info">
						<span>2009</span>
						<h3>Vagrant</h3>
						<p>Mitchell Hashimoto launches Vagrant 0.1.</p>
					</div>

					<div class="body">
						<i class="vagrant"></i>

						<div class="line"></div>
					</div>
				</div><!--- .point -->

				<div class="point">
					<div class="info below">
						<span>2013</span>
						<h3>HashiCorp</h3>
						<p>Mitchell announces HashiCorp, a software company
						supporting Vagrant and other tools.</p>
					</div>

					<div class="body">
						<i class="hashicorp"></i>

						<div class="line"></div>
					</div>
				</div><!--- .point -->

				<div class="point">
					<div class="info">
						<span>2013</span>
						<h3>Packer</h3>
						<p>Packer, the tool for creating machine images,
						launches.</p>
					</div>

					<div class="body">
						<i class="packer"></i>

						<div class="line"></div>
					</div>
				</div><!--- .point -->

				<div class="point">
					<div class="info below">
						<span>2013</span>
						<h3>Armon Dadgar</h3>
						<p>Armon, with a passion for distributed systems, joins
						Mitchell as a founder.</p>
					</div>

					<div class="body">
						<i class="armon"></i>

						<div class="line"></div>
					</div>
				</div><!--- .point -->

				<div class="point">
					<div class="info">
						<span>2013</span>
						<h3>Serf</h3>
						<p>Serf, a lightweight solution for managing
						decentralized cluster membership, is launched.</p>
					</div>

					<div class="body">
						<i class="serf"></i>

						<div class="line"></div>
					</div>
				</div><!--- .point -->

				<div class="point">
					<div class="info below">
						<span>2014</span>
						<h3>Vagrant Cloud</h3>
						<p>Jack Pearkes, HashiCorp's first employee, joins and
						helps launch Vagrant Cloud, used for hosting and
						sharing Vagrant boxes.</p>
					</div>

					<div class="body">
						<i class="cloud"></i>

						<div class="line"></div>
					</div>
				</div><!--- .point -->

				<div class="point">
					<div class="info">
						<span>2014</span>
						<h3>Consul</h3>
						<p>Consul, a solution for service discovery and
						configuration, launches a 0.1. Consul is built on top
						of Serf.</p>
					</div>

					<div class="body">
						<i class="consul"></i>

						<div class="line"></div>
					</div>
				</div><!--- .point -->

				<div class="point">
					<div class="info below">
						<span>2014</span>
						<h3>Terraform</h3>
						<p>Terraform is announced. Terraform builds and changes
						infrastracture, allowing you to manage the lifecycle of
						resources and combine hybrid infrastructures safely and
						efficiently.</p>
					</div>

					<div class="body">
						<i class="terraform"></i>

						<!--<div class="line"></div>-->
					</div>
				</div><!--- .point -->
			</div><!-- points -->
		</div><!-- points-wrap -->
	</article><!-- timeline -->

	<article class="quotes offbg">
		<div class="container">
			<div class="quotes row">
				<div class="col-md-4 col-md-offset-4 col-sm-12">
					<div class="quote temp-big">
						<i></i>

						<p>Learn more about HashiCorp and our products on
						<a href="/blog.html">our blog</a>.</p>
					</div>
				</div>
			</div><!-- quotes row -->
		</div><!-- container -->
	</article><!-- press -->

	<article class="team">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Founders</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
					<img height="340px" src="images/people/mh@2x.jpg" width=
					"370px">
					<h4>Mitchell Hashimoto</h4>
					<p>Automation Obsessed, Vagrant Creator, Author, DevOps
					community figure, Engineer for 4 Years at CitrusByte,
					Operations for 2 years at Kiip, research at University of
					Washington.</p><a class="twitter-about" href=
						"https://www.twitter.com/mitchellh" style=
						"font-style: italic"></a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
					<img height="340px" src="images/people/ad@2x.jpg" width=
					"370px">
					<h4>Armon Dadgar</h4>
					<p>Passion for distributed systems, research at University
					of Washington, Big Data at Amazon. High-scale data services
					at Kiip.</p><a class="twitter-about" href=
						"https://www.twitter.com/armon" style=
						"font-style: italic"></a>
				</div>
				<div class="hiring col-md-4 hidden-sm hidden-xs">
					<h2>Join us.</h2><a class="hbtn outline-btn large" href=
						"/jobs.html">View Jobs<span class=
							"light-caret-right large"></span></a>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- team -->
</section><!-- page inner-page -->
