---
title: About
---

<section class="page inner-page">

<!-- page title -->
<div id="subheader" class="inner-page-header">
  <div class="container">
    <div class="row">
      <h1 class="headline">About Us</h1>
    </div>
  </div>
</div>

<!-- page contents -->
<article class="history">
<div class="container">
	<div class="row">
    <div class="col-xs-12">
      <h2>Hashicorp’s History</h2>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum, id hendrerit felis tincidunt. Proin mollis lacus in tellus vulputate, non facilisis metus interdum. Suspendisse vitae risus malesuada lectus dignissim semper id in mauris. In interdum sollicitudin arcu at interdum. Nulla nisi libero, lacinia quis bibendum in, imperdiet ac nulla.</p>
      <p>Sed elit libero, lobortis eget scelerisque et, cursus at nunc. Nunc varius tincidunt velit id euismod. Praesent efficitur risus ut facilisis tincidunt. Nullam ut est tincidunt, aliquet turpis sed, vulputate erat. Ut nec enim lacinia, vehicula augue in, finibus nibh. Sed finibus dui et leo iaculis ultrices. Donec vel orci sapien. In mattis tempor elit, in viverra mi molestie aliquam. Ut venenatis eros ac tempus molestie. Ut nisi lectus, feugiat et porttitor id, semper non erat.</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum, id hendrerit felis tincidunt. Proin mollis lacus in tellus vulputate, non facilisis metus interdum. Suspendisse vitae risus malesuada lectus dignissim semper id in mauris. In interdum sollicitudin arcu at interdum. Nulla nisi libero, lacinia quis bibendum in, imperdiet ac nulla.</p>
		</div>
	</div> <!-- row -->
</div> <!-- container -->
</article> <!-- about -->

<article id="timeline">
  <div class="container">
    <div class="row">
      <h2>Our Timeline</h2>
    </div>
  </div>

  <div id="points-wrap" class="scroll-pane horizontal-only">
    <div id="points">
      <div class="point">
        <div class="info">
          <span>2010</span>
          <h3>Vagrant</h3>
          <p>Hashicorp begins, although we didn’t know it yet, out of the massively popular open source project, Vagrant.</p>
        </div>
        <div class="body">
          <i class="vagrant"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info below">
          <span>2013</span>
          <h3>The Age of Automation Begins</h3>
          <p>With their combined extensive experience working on the hard problems facing devs today, Mitchell and Armon start Hashicorp with Vagrant as the core product but other projects in mind.</p>
        </div>
        <div class="body">
          <i class="hashicorp"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info">
          <span>2013</span>
          <h3>Packer</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing eltit. Donec porttitor maximus lectus ac euismod.</p>
        </div>
        <div class="body">
          <i class="packer"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
      <div class="point">
        <div class="info below">
          <span>2013</span>
          <h3>Serf</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing eltit. Donec porttitor maximus lectus ac euismod.</p>
        </div>
        <div class="body">
          <i class="serf"></i>
          <div class="line"></div>
        </div>
      </div><!--- .point -->
    </div> <!-- points -->
  </div><!-- points-wrap -->
</article><!-- timeline -->

<article class="quotes offbg">
  <div class="container">
    <div class="quotes row">
      <div class="col-md-4 col-sm-12">
        <div class="quote q1">
          <i></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent lectus ut augue fermentum.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="quote q2">
          <i></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent lectus ut augue fermentum.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="quote q3">
          <i></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent lectus ut augue fermentum.</p>
        </div>
      </div>
    </div><!-- quotes row -->
  </div><!-- container -->
</article><!-- press -->

<article class="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>The Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
        <img src="images/mh@2x.jpg" width="370px" height="340px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
        <img src="images/mh@2x.jpg" width="370px" height="340px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>
      <div class="hiring col-md-4 hidden-sm hidden-xs">
        <h2>Hashicorp is Hiring.</h2>
        <a href="/jobs" class="hbtn outline-btn large">View Jobs<span class="light-caret-right large"></span></a>
      </div>
    </div><!-- row -->

    <div class="team-2 row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>
    </div>
    <div class="team-3 row">
      <div class="col-md-2 col-sm-3 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <img src="images/mh@2x.jpg" width="270px" height="255px">
        <h4>Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod. Praesent sollicitudin lectus ut augue fermentum.</p>
        <a href="/" class="twitter-about"><i></i></a>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</article><!-- team -->

<article class="more-team offbg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Board Members</h3>
      </div>
    </div><!-- row -->
    <div class="more row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/mh@2x.jpg" width="170px" height="160px">
          </div>
          <div class="col-sm-6">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/mh@2x.jpg" width="170px" height="160px">
          </div>
          <div class="col-sm-6">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/mh@2x.jpg" width="170px" height="160px">
          </div>
          <div class="col-sm-6">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod.</p>
          </div>
        </div>
      </div>
    </div><!-- row -->

    <div class="row">
      <div class="col-xs-12">
        <h3>Investors</h3>
      </div>
    </div><!-- row -->
    <div class="more row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/mh@2x.jpg" width="170px" height="160px">
          </div>
          <div class="col-sm-6">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/mh@2x.jpg" width="170px" height="160px">
          </div>
          <div class="col-sm-6">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/mh@2x.jpg" width="170px" height="160px">
          </div>
          <div class="col-sm-6">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod.</p>
          </div>
        </div>
      </div>
    </div><!-- row -->

    <div class="row">
      <div class="col-xs-12">
        <h3>Advisors</h3>
      </div>
    </div><!-- row -->
    <div class="more row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/mh@2x.jpg" width="170px" height="160px">
          </div>
          <div class="col-sm-6">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/mh@2x.jpg" width="170px" height="160px">
          </div>
          <div class="col-sm-6">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/mh@2x.jpg" width="170px" height="160px">
          </div>
          <div class="col-sm-6">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor maximus lectus ac euismod.</p>
          </div>
        </div>
      </div>
    </div><!-- row -->

  </div><!-- container -->
</article><!-- investors -->

<article class="press">
  <div class="container">
    <div class="kit row">
      <div class="col-xs-12">
        <a href="/jobs" class="hbtn outline-btn black large">Press Kit Download<span class="black-caret-right"></span></a>
      </div> <!-- col -->
    </div> <!-- kit row -->
  </div><!-- container -->
</article>


</section> <!-- page inner-page -->
