<div id="jumbotron-mask">
	<div id="jumbotron">
		<div class="jumbotron-content" id="jumbotron-content">
			<div class="container">
				<div class="row">
					<div class="jumbo-logo-wrap col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 pull-right">
						<div class="jumbo-logo">

							<div class="hexagons">
								<div class="hexagon hex1 hexPulse"></div>
								<div class="hexagon hex2 hexPulse"></div>
								<div class="hexagon hex3 hexPulse"></div>
								<div class="hexagon hex4 hexPulse"></div>
							</div>

							<div class="hero-logo fadein"></div>

							<div class="hero-prod-logos">
								<div class="prod p1 vagrant fadein"></div>
								<div class="prod p2 serf fadein"></div>
								<div class="prod p3 terraform fadein"></div>
								<div class="prod p4 packer fadein"></div>
								<div class="prod p5 consul fadein"></div>
							</div>

						</div>
					</div> <!-- col -->
					<div class="col-lg-6 col-md-6 col-sm-12 pull-left">
						<div class="hero-headline">
							<h1 class="">Building tools for the software managed datacenter.</h1>
							<a href="/about.html" class="hbtn outline-btn large">About Us<span class="light-caret-right"></span></a>
						</div>
					</div> <!-- col -->
				</div> <!-- row -->
			</div> <!-- container -->
		</div> <!-- jumbotron-content -->
	</div> <!-- jumbotron -->
</div> <!-- jumbotron-mask -->

<article id="news">
	<div class="blog-entry-left blog-entry r50">
			<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">
				<i class="hashi-logo"></i>
				<h2>Consul 0.4 has been Released</h2>
				<p>Major new features added include a fine-grained ACL system, a watch mechanism to invoke callbacks on changes, an event system for custom events such as deploys or service restarts, and remote execution for simplified administration.</p>
				<a href="/blog/consul-0-4.html" class="cont-read">Continue reading<span class="light-caret-right small"></span></span></a>
			</div>
	</div>
	<div class="blog-entry-right blog-entry r50">
			<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-8 col-md-8 col-sm-6 col-xs-12">
				<h3>Vagrant Cloud</h3>
				<h2></h2>
				<p>Instantly share your Vagrant environment to anyone in the world, discover boxes in the community and manage the distribution of your own.</p>
				<a href="https://vagrantcloud.com" class="hbtn fill-btn blue large">Join Now<span class="light-caret-right"></span></a>
			</div>
		</div>
</article>

<article id="products">

	<div id="products-header">
	<div id="bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<h2>Products</h2>
				</div>
				<div class="col-lg-6 col-md-12">
					<ul id="products-nav" class="clearfix">
						<li class="vagrant" data-prod="vagrant">
							<a href="#vagrant">
								<i></i>
								<span>Vagrant</span>
							</a>
						</li>
						<li class="consul" data-prod="consul">
							<a href="#consul">
								<i></i>
								<span>Consul</span>
							</a>
						</li>
						<li class="packer" data-prod="packer">
							<a href="#packer">
								<i></i>
								<span>Packer</span>
							</a>
						</li>
						<li class="terraform" data-prod="terraform">
							<a href="#terraform">
								<i></i>
								<span>Terraform</span>
							</a>
						</li>
						<li class="serf" data-prod="serf">
							<a href="#serf">
								<i></i>
								<span>Serf</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div id="products-display" class="slider vagrant">
			<div class="vagrant container">
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Development environments made easy. With support for Virtualbox, VMware, Hyper-V and Docker,
							Vagrant is the defacto way to create and configure lightweight, reproducible, and portable development environments.</p>
						<a href="http://vagrantup.com" class="hbtn fill-btn white small">Explore Vagrant<span class="black-caret-right small"></span></a>
						<a href="http://docs.vagrantup.com/v2/" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<div class="consul container">
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Service discovery and configuration made easy. Consul is a deployable, scalable tool for managing configuration and services
							in a distrubuted, highly available, and multi-datacenter environment.</p>
						<a href="http://consul.io" class="hbtn fill-btn white small">Explore Consul<span class="black-caret-right small"></span></a>
						<a href="http://www.consul.io/docs/index.html" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<div class="packer container">
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Packer is a tool for creating identical machine images for platforms such as Amazon AWS, OpenStack, Google Compute Engine,
							VMware, Virtualbox and more – all from a single source configuration.</p>
						<a href="http://packer.io" class="hbtn fill-btn white small">Explore Packer<span class="black-caret-right small"></span></a>
						<a href="http://www.packer.io/docs/index.html" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<div class="terraform container">
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Terraform allows you to effortlessly combine high-level system providers with your own or with each – from physical and virtual servers to email
							and DNS providers. Once launched, Terraform safely and efficiently changes infrastructure as the configuration is evolved.</p>
						<a href="http://terraform.io" class="hbtn fill-btn white small">Explore Terraform<span class="black-caret-right small"></span></a>
						<a href="http://www.terraform.io/docs/index.html" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
			<div class="serf container">
				<div class="row">
					<div class="logos col-sm-6 col-sm-12">
							<i class="product-logo"></i>
					</div>
					<div class="descs col-sm-6 col-sm-12">
						<p>Serf is a lightweight and decentralized solution for cluster membership, failure detection, and orchestration. Serf is used as a building block for
							highly availble systems, such as Consul.</p>
						<a href="http://serfdom.io" class="hbtn fill-btn white small">Explore Serf<span class="black-caret-right small"></span></a>
						<a href="http://www.serfdom.io/docs/index.html" class="hbtn outline-btn small">Documentation<span class="light-caret-right small"></span></a>
					</div>
				</div>
			</div>
 </div>
</article>

<article class="customers">
<div class="container"> <!-- required by bootstrap -->
	<div class="row">
		<div class="customers-content col-xs-12">
			<h1>
				<span>A Few Companies Who</span>
				Trust HashiCorp
			</h1>
		</div> <!-- customers-content -->
	</div> <!-- row -->
	<div class="row">
		<div class="col-xs-12">
			<ul class="customer-logos unstyled">
				<li class="cust c1"></li>
				<li class="cust c2"></li>
				<li class="cust c3"></li>
				<li class="cust c4"></li>
				<li class="cust c5"></li>
				<li class="cust c6"></li>
				<li class="cust c7"></li>
				<li class="cust c8"></li>
				<li class="cust c9"></li>
				<li class="cust c10"></li>
				<li class="cust c11"></li>
				<li class="cust c12"></li>
			</ul> <!-- customer logos -->
		</div> <!-- row -->
	</div> <!-- container -->
</article>

<article class="hiring">
	<div class="photo hidden-sm hidden-xs"></div>
	<div class="container"> <!-- required by bootstrap -->
		<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h2>Hashicorp is Growing.</h2>
					<p>We’re hiring and are searching for talented developers, sales, marketing and operators.
						Hashicorp HQ is located in San Francisco, but work from all over.</p>
					<a href="/jobs.html" class="hbtn fill-btn blue large">View Jobs<span class="light-caret-right"></span></a>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->
</article>
