---
title: About
---

<section class="page inner-page">

<!-- page title -->
<div id="subheader" class="inner-page-header">
  <div class="container">
    <div class="row">
      <h1 class="headline">Jobs</h1>
    </div>
  </div>
</div>

<!-- page contents -->
<article id="location">
<div id="map-wrap">
  <div id="map">
    <div id="pins">
      <div class="hq">
        <div class="pulser">
          <div class="pulse pulse1"></div>
        </div>
        <i></i>
      </div> <!--hq -->
      <div class="pinpoint p1 bounce">
        <i></i>
      </div>
      <div class="pinpoint p2 bounce">
        <i></i>
      </div>
      <div class="pinpoint p3 bounce">
        <i></i>
      </div>
    </div><!-- pins -->
  </div><!-- map -->
</div><!-- map-wrap -->
<div class="container">
	<div class="row">
    <div class="col-lg-5 col-md-5 col-md-offset-7">
      <div class="map-text">
        <h2>Hashicorp <span>is hiring.</span></h2>
        <p>We call home to San Francisco, but currently have employees in three different cities and contributors all over the world. Though some
          roles may be location dependent, we welcome remote work.<p>
      </div> <!-- map-hero -->
    </div> <!-- col -->
	</div> <!-- row -->
</div> <!-- container -->
</article> <!-- location -->

<article id="positions">
  <h3>Available Positions</h3>
  <div id="jobs">

    <div class="job">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
            <a href="#" class="trigger">
              <h4>Software Engineer</h4>
              <span class="location">Anywhere</span>
              <span class="toggle">+  </span>
            </a> <!-- trigger -->
            <div id="job2" class="panel-body collapse">
              <p>Software engineers at HashiCorp work across our open and closed source products, interacting with both
              enterprise customers and open source contributors. You help build tools to develop, manage and deploy
              great software.</p>
              <div class="row">
                <div class="col col-lg-6 col-md-6">
                  <h4>Responsibilities</h4>
                  <ul>
                    <li>Contribute to one of our many open source projects, such as Vagrant, Consul or Terraform.</li>
                    <li>Support our growing Enterprise products, intergrating and building upon an open source foundation.</li>
                    <li>Contribute to HashiCorp infrastructure and improve internal tooling.</li>
                  </ul>
                </div>
                <div class="col col-lg-6 col-md-6">
                  <h4>Requirements</h4>
                  <ul>
                    <li>A strong background in one or more dynamic programming languages.</li>
                    <li>Familiarity with operations problems and solutions, such as configuration management, deployment and cloud providers.</li>
                    <li>An active understanding and interest in the open source ecosystem.</li>
                  </ul>
                </div>
                <a href="jobs+engineering@hashicorp.com" class="hbtn outline-btn black large">Apply Now Via Email</a>
              </div>
            </div> <!-- panel-body -->
          </div> <!-- col-lg-6 -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div><!--job-->

    <div class="job">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
            <a href="#" class="trigger">
              <h4>Sales Growth</h4>
              <span class="location">San Franciso</span>
              <span class="toggle">+</span>
            </a> <!-- trigger -->
            <div id="job2" class="panel-body collapse">
              <p>Develop and support the deployment of HashiCorp enterprise products. Support the growth of existing customers, ensuring
                the best use of our tools, as well as seeking out new opportunities.</p>
              <div class="row">
                <div class="col col-lg-6 col-md-6">
                  <h4>Responsibilities</h4>
                  <ul>
                    <li>Lay strong foundation for long lasting relationships with new customers.</li>
                    <li>Support and strengthen existing customer relationships.</li>
                    <li>Work directly with engineering and product teams to help support customer needs.</li>
                  </ul>
                </div>
                <div class="col col-lg-6 col-md-6">
                  <h4>Requirements</h4>
                  <ul>
                    <li>Strong technical understanding with a tech-oriented background.</li>
                    <li>Great research and analytical skills.</li>
                    <li>Ability to communicate with distrbibuted customers, as well as your own team.</li>
                  </ul>
                </div>
                <a href="mailto:jobs+sales@hashicorp.com" class="hbtn outline-btn black large">Apply Now Via Email</a>
              </div>
            </div> <!-- panel-body -->
          </div> <!-- col-lg-6 -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div><!--job-->

    <div class="job">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
            <a href="#" class="trigger">
              <h4>Product Evangelist</h4>
              <span class="location">Anywhere</span>
              <span class="toggle">+</span>
            </a> <!-- trigger -->
            <div id="job2" class="panel-body collapse">
              <p>Vivamus commodo quam non enim laoreet, ut congue felis auctor. Quisque consectetur, dolor eu lobortis tempus, risus nibh porttitor nibh, eu dapibus eros ipsum non mauris. Quisque diam diam, bibendum ac turpis in, scelerisque dictum erat. Nunc facilisis ornare ex non tristique. Mauris ultricies euismod lacus, ac lacinia nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam viverra tellus vel libero commodo consectetur. Etiam ut ex ultricies ante sagittis imperdiet in sed diam. Ut cursus neque non luctus facilisis. Suspendisse potenti. Aliquam erat volutpat.</p>
              <div class="row">
                <div class="col col-lg-6 col-md-6">
                  <h4>Responsibilities</h4>
                  <ul>
                    <li>Vivamus commodo quam non enim.</li>
                    <li>Vivamus commodo quam non enim. Vivamus commodo quam non enim.</li>
                  </ul>
                </div>
                <div class="col col-lg-6 col-md-6">
                  <h4>Requirements</h4>
                  <ul>
                    <li>You can distill complicated problems into simple and elegant solutions.</li>
                    <li>Vivamus commodo quam non enim. Vivamus commodo quam non enim.</li>
                  </ul>
                </div>
                <a href="mailto:jobs+evangelist@hashicorp.com" class="hbtn outline-btn black large">Apply Now Via Email</a>
              </div>
            </div> <!-- panel-body -->
          </div> <!-- col-lg-6 -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div><!--job-->
  </div><!--jobs-->
</article> <!-- positions -->


<article id="chat">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12">
      <h2><i class="chat"></i>Did we miss something?</h2>
      <p>Interested in talking to us, but don't see a relevant position above? We'd still like to hear from you.</p>
      <a href="mailto:jobs@hashicorp.com" class="hbtn fill-btn large">Contact Us</a>
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
</article> <!-- chat -->

</section> <!-- page inner-page -->
