---
title: About
---

<section class="page inner-page">
    <article id="chat">
        <div class="container">
            <div class="row">
                <div class=
                "col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12">
                    <h2><i class="chat"></i>Thanks for subscribing!</h2>

                    <p>You've been succesfully added to our newsletter. You'll
                        hear from us soon. In the meantime, check out
                        <a href="/blog.html">our blog</a>.</p>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </article><!-- chat -->
</section><!-- page inner-page -->
