<section class="page">
	<article class="product-item vagrant gray">
		<div class="container">
			<div class="row">
				<div class="span6">
					<h1>
						Vagrant
					</h1>
					<p>
						Helping create the most powerful and
						<br>
						enjoyable development experience 
						<br>
						you'll ever have.
					</p>						
				</div> <!-- span6 -->
				<div class="span6 product-image">
					<span class="image">
					</span>
				</div> <!-- span6 -->					
			</div> <!-- row -->
		</div> <!-- container -->
	</article> <!-- product-item -->

	<article class="product-item packer">
		<div class="container">
			<div class="row">
				<div class="span6 product-image">
					<span class="image">
					</span>
				</div> <!-- span6 -->					
				<div class="span6">
					<h1>
						Packer
					</h1>
					<p>
						Helping create the most powerful and
						<br>
						enjoyable development experience 
						<br>
						you'll ever have.
					</p>						
				</div> <!-- span6 -->			
			</div> <!-- row -->
		</div> <!-- container -->
	</article> <!-- product-item -->

	<article class="product-item serf gray">
		<div class="container">
			<div class="row">
				<div class="span6">
					<h1>
						Serf
					</h1>
					<p>
						Helping create the most powerful and
						<br>
						enjoyable development experience 
						<br>
						you'll ever have.
					</p>						
				</div> <!-- span6 -->
				<div class="span6 product-image">
					<span class="image">
					</span>
				</div> <!-- span6 -->					
			</div> <!-- row -->
		</div> <!-- container -->
	</article> <!-- product-item -->		
</section> <!-- page -->
