<section class="page">
	<article class="product-item vagrant gray">
		<div class="container">
			<div class="row">
				<div class="span6 offset1 col-sm-push-5 product-image">
					<span class="image">
					</span>
				</div> <!-- span6 -->
				<div class="span5 col-sm-pull-6">
					<h1>
						<a href="http://www.vagrantup.com">Vagrant</a>
					</h1>
					<p>
						Create and configure lightweight, reproducible,
						and portable development environments.
					</p>
					<a class="product-click" href="http://vagrantup.com">learn more</a>
				</div> <!-- span6 -->
			</div> <!-- row -->
		</div> <!-- container -->
	</article> <!-- product-item -->

	<article class="product-item packer">
		<div class="container">
			<div class="row">
				<div class="span6 offset1 product-image">
					<span class="image">
					</span>
				</div> <!-- span6 -->
				<div class="span5">
					<h1>
						<a href="http://www.packer.io">Packer</a>
					</h1>
					<p>
						A tool for creating machine images for development
						and production using industry-standard technologies
						from a single, easy-to-use description format.
					</p>
					<a class="product-click" href="http://packer.io">learn more</a>
				</div> <!-- span6 -->
			</div> <!-- row -->
		</div> <!-- container -->
	</article> <!-- product-item -->

	<article class="product-item consul">
		<div class="container">
			<div class="row">
				<div class="span6 offset1 col-sm-push-5 product-image">
					<span class="image">
					</span>
				</div> <!-- span6 -->
				<div class="span5 col-sm-pull-6">
					<h1>
						<a href="http://www.serfdom.io">Consul</a>
					</h1>
					<p>
						Service discovery and configuration made easy. 
						Distributed, highly available, and datacenter-aware.
					</p>
					<a class="product-click" href="http://consul.io">learn more</a>
				</div> <!-- span6 -->
			</div> <!-- row -->
		</div> <!-- container -->
	</article> <!-- product-item -->

	<article class="product-item serf gray">
		<div class="container">
			<div class="row">
				<div class="span6 offset1 product-image">
					<span class="image">
					</span>
				</div> <!-- span6 -->
				<div class="span5">
					<h1>
						<a href="http://www.serfdom.io">Serf</a>
					</h1>
					<p>
						A decentralized solution for cluster membership,
						failure detection, and orchestration. Lightweight
						and highly available.
					</p>
					<a class="product-click" href="http://serfdom.io">learn more</a>
				</div> <!-- span6 -->
			</div> <!-- row -->
		</div> <!-- container -->
	</article> <!-- product-item -->
</section> <!-- page -->
